*,
*::after,
*::before {
  box-sizing: border-box;
}
.main {
  width: 900px;
}
.heading {
  max-width: 450px;
}
.game{
  display: flex;
  justify-content: space-between;
}
.wrapper {
  display: grid;
  width: 450px;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
}
.score{
  font-weight: bold;
  font-size: 20px;
}
.cell {
  width: 150px;
  height: 150px;
}
.cell:nth-child(-n + 6) {
  border-bottom: 1px solid black;
}
.cell:not(:nth-child(3n)) {
  border-right: 1px solid black;
}
.mole {
  background: url("../src/assets/images/mole.png") no-repeat center center /
    cover;
}
.button{
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  padding: 10px;
}